.flipCard {
    height: 350px;
    width: 300px;
    margin: 25px;
}

.flipCard .card.flipped {
    transform: rotatey(-180deg);
}

.flipCard .card {
    height: 350px;
    width: 300px;
    transform-style: preserve-3d;
    transition: 1s;
}

.flipCard .card .side {
    height: 350px;
    width: 300px;
    cursor: pointer;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.flipCard .card .back {
    transform: rotatey(-180deg);
}

.title {
    position: relative;
    bottom: 200px;
    z-index: 5;
    width: 280px;
    padding-left: 10px;
    box-sizing: border box;
}

.people-img{
  height: 200px;
  width: 200px;
  display: block;
  margin-top: -90px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 5px solid white;
  background-color: white;
}

.people-name{
    font-family: 'Samo';
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.people-title{
font-size: 12px;
  text-align: center;
  margin: 10px;
  line-height: 20px;
  font-family: 'Libre Franklin'
}

.people-desc{
    margin: 0;
    padding: 18px;
    margin-top: 14px;
    position: absolute;
    font-size: 12px;
    line-height: 26px;
    font-family: 'Libre Franklin';
    text-align: center;
}

.tile-back {
    z-index: -5;
    backface-visibility: hidden;
}

.title-bol {
    z-index: 10;
    width: 250px;
    position: relative;
    bottom: 315px;
}

.title-eer {
    z-index: 10;
    width: 250px;
    position: relative;
    bottom: 315px;
}

.title-1-test {
    position: relative;
    bottom: 320px;
    z-index: 10;
    width: 250px;
    box-sizing: border-box;
    padding-top: 20px;
}

.title-1-test-1 {
    position: relative;
    bottom: 280px;
    z-index: 10;
    width: 250px;
    box-sizing: border-box;
    padding-top: 20px;
}

.title-cvr {
    position: relative;
    bottom: 334px;
    z-index: 10;
    width: 250px;
    box-sizing: border-box;
    padding-top: 20px;
}

.title-c600 {
    position: relative;
    bottom: 335px;
    z-index: 10;
    width: 250px;
    box-sizing: border-box;
    padding-top: 20px;
}

.title-fino {
    position: relative;
    bottom: 335px;
    z-index: 10;
    box-sizing: border-box;
    padding-top: 20px;
    height: 55px;
}

.title-flusser {
    position: relative;
    bottom: 334px;
    z-index: 10;
    box-sizing: border-box;
    padding-top: 20px;
    height: 55px;
}

.title-husky {
    position: relative;
    bottom: 335px;
    z-index: 10;
    box-sizing: border-box;
    padding-top: 20px;
    height: 55px;
}

.title-hartford {
    position: relative;
    bottom: 335px;
    z-index: 10;
    box-sizing: border-box;
    padding-top: 20px;
    width: 250px;
}

.title-leam {
    position: relative;
    bottom: 335px;
    z-index: 10;
    box-sizing: border-box;
    padding-top: 20px;
    height: 55px;
}

.title-museum {
    position: relative;
    bottom: 305px;
    z-index: 10;
    box-sizing: border-box;
    padding-top: 20px;
    height: 55px;
}

.title-overrated {
    position: relative;
    bottom: 305px;
    z-index: 10;
    box-sizing: border-box;
    padding-top: 20px;
    height: 54px;
}

.title-sourcery {
    position: relative;
    bottom: 305px;
    z-index: 10;
    box-sizing: border-box;
    padding-top: 20px;
    height: 58px;
}

.desc-1-test {
    position: relative;
    bottom: 330px;
    font-family: "open sans";
    color: black;
}

.desc-1-test-1 {
    position: relative;
    bottom: 280px;
    font-family: "open sans";
    color: black;
}

.desc-bol {
    font-family: "open sans";
    color: black;
    position: relative;
    bottom: 302px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border box;
    font-weight: semibold;
}

.desc-cvr {
    position: relative;
    bottom: 303px;
    font-family: "open sans";
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border box;
    font-size: 13px;
}

.desc-c600 {
    position: relative;
    bottom: 332px;
    font-family: "open sans";
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
}

.desc-eer {
    position: relative;
    bottom: 275px;
    font-family: "open sans";
    color: black;
    padding-left: 30px;
    padding-right: 30px;
}

.desc-fino {
    position: relative;
    bottom: 290px;
    font-family: "open sans";
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border box;
}

.desc-flusser {
    position: relative;
    bottom: 302px;
    font-family: "open sans";
    color: black;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border box;
    font-size: 14px;
}

.desc-husky {
    position: relative;
    bottom: 305px;
    font-family: "open sans";
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border box;
}

.desc-hartford {
    position: relative;
    bottom: 310px;
    font-family: "open sans";
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border box;
}

.desc-leam {
    position: relative;
    bottom: 315px;
    font-family: "open sans";
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border box;
}

.desc-museum {
    position: relative;
    bottom: 292px;
    font-family: "open sans";
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border box;
}

.desc-overrated {
    position: relative;
    bottom: 299px;
    font-family: "open sans";
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border box;
}

.desc-sourcery {
    position: relative;
    bottom: 302px;
    font-family: "open sans";
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border box;
}

.btn-bol {
    position: relative;
    bottom: 295px;
    font-family: samo;
    color: white;
    background-color: #246481;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
    border: 2px solid #246481;
}

.btn-bol:hover {
    background-color: white;
    color: #246481;
    border: 2px solid #246481;
}

.btn-cvr {
    position: relative;
    bottom: 281px;
    font-family: samo;
    color: white;
    background-color: #9d8d32;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
    border: 2px solid #9d8d32;
}

.btn-cvr:hover {
    background-color: white;
    color: #9d8d32;
    border: 2px solid #9d8d32;
}

.btn-c600 {
    position: relative;
    bottom: 334px;
    font-family: samo;
    color: white;
    background-color: #8cc947;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
    border: 2px solid #8cc947;
}

.btn-c600:hover {
    background-color: white;
    color: #8cc947;
    border: 2px solid #8cc947;
}

.btn-eer {
    position: relative;
    bottom: 245px;
    font-family: samo;
    color: white;
    background-color: #b7c238;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.btn-fino {
    position: relative;
    bottom: 260px;
    font-family: samo;
    color: white;
    background-color: #659370;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.btn-flusser {
    position: relative;
    bottom: 279px;
    font-family: samo;
    color: white;
    background-color: #56b1b2;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.btn-husky {
    position: relative;
    bottom: 278px;
    font-family: samo;
    color: white;
    background-color: #252a72;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.btn-hartford {
    position: relative;
    bottom: 295px;
    font-family: samo;
    color: white;
    background-color: #509ec8;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.btn-leam {
    position: relative;
    bottom: 298px;
    font-family: samo;
    color: white;
    background-color: #000000;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.btn-museum {
    position: relative;
    bottom: 284px;
    font-family: samo;
    color: white;
    background-color: #8cc947;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.btn-overrated {
    position: relative;
    bottom: 304px;
    font-family: samo;
    color: white;
    background-color: #b7c238;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.btn-sourcery {
    position: relative;
    bottom: 304px;
    font-family: samo;
    color: white;
    background-color: #6a52a5;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.btn-2-test {
    position: relative;
    bottom: 345px;
    font-family: samo;
    color: white;
    background-color: #246481;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.btn-2-test-1 {
    position: relative;
    bottom: 290px;
    font-family: samo;
    color: white;
    background-color: #9d8d32;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.btn-3 {
    position: relative;
    bottom: 345px;
    font-family: samo;
    color: white;
    background-color: #9d8d32;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
}

.cont-1 {
    display: flex;
    z-index: 12;
    justify-content: center;
    position: relative;
    bottom: 302px;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 10px;
}

@media (min-width: 900px) {
    .row {
        display: flex;
        justify-content: center;
    }
}

.fish {
    position: relative;
    top: 50px;
    z-index: 30;
}

.bol {
    border-radius: 5px;
}

.sourcery-front {
    border-radius: 5px;
}

.charlesvr {
    border-radius: 5px;
}